name: Deploy to VPS

on:
  push:
    branches:
      - master  # Or 'master', depending on your branch name

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          script: |
            # Navigate to your project folder
            cd /home/promori/fight-app
            
            # Pull the latest code
            git pull origin master
            
            # Rebuild and restart Docker containers
            sudo docker compose up -d --build
            
            # Clean up unused images to save space
            sudo docker image prune -f